ORDER_SERVICE_PORT=8081
INVENTORY_SERVICE_PORT=8082

# PostgreSQL

ORDER_DB_NAME=order_db
ORDER_DB_USERNAME=order_user
ORDER_DB_PASSWORD=change_me
ORDER_DB_HOST=localhost
ORDER_DB_PORT=5433

INVENTORY_DB_NAME=inventory_db
INVENTORY_DB_USERNAME=inventory_user
INVENTORY_DB_PASSWORD=change_me
INVENTORY_DB_PORT=5434

# Kafka

KAFKA_EXTERNAL_PORT=9092
KAFKA_UI_PORT=8085